[submodule "kbpartpicker"]
	path = frontend
	url = git@github.com:scootyboots/kbpartpicker.git
[submodule "kbpartpicker-backend"]
	path = worker
	url = git@github.com:vimiomori/kbpartpicker-backend.git
[submodule "api"]
	path = api
	url = git@github.com:puipuipartpicker/kbpartpicker-api.git
